@using MeditationLogger.Api;

@{
    Layout = "_Content";
}

@model IDictionary<Log, string>

<ul>
    @foreach( KeyValuePair<Log, string> logPair in Model )
    {
        Log log = logPair.Key;
        string message = logPair.Value;
        <li>@log.StartTime.ToLongDateString() @log.Technique - @message</li>
    }
</ul>