@using System.Reflection;

@{
    Layout = "_Content";
}

<h2>Meditation Logger</h2>

<p>Version: @Assembly.GetExecutingAssembly().GetName().Version</p>

<ul>
    <li><a href="/About/License">License</a></li>
    <li><a href="/About/Credits">View Credits</a></li>
</ul>