@using MeditationLogger.Api;

@model IList<Log>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Hello World!</p>
    <ul>
        @foreach( Log log in Model )
        {
            <li>@log.Comments</li>
        }
    </ul>
</body>
</html>
