@using MeditationLogger.Api;

@model IList<Log>

@{
    Layout = "_Content";
}
    <p>Hello World!</p>
    <ul>
        @foreach( Log log in Model )
        {
            <li>@log.Comments</li>
        }
    </ul>

