@using Meditu.Api;
@using Meditu.Gui.Controllers;
@using Meditu.Gui.Models;

@model MeditateModel

@{
    Layout = "_Layout";
}

<!-- Top row -->
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div>
        <span style="float:left;">
            <a href="/" class="btn btn-inverse"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        </span>
    </div>
</nav>

<article id="page-inner">

    @if( string.IsNullOrEmpty( Model.InfoMessage ) == false )
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissable">
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">X</button>
                    @Model.InfoMessage
                </div>
            </div>
        </div>
    }

    @if( string.IsNullOrEmpty( Model.ErrorMessage ) == false )
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissable">
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">X</button>
                    @Model.ErrorMessage
                </div>
            </div>
        </div>
    }

    @{
        if( Model.ApiState == ApiState.Idle )
        {
            @await Html.PartialAsync( "~/Views/Meditate/Idle.cshtml", Model )
        }
        else if( Model.ApiState == ApiState.Started )
        {
            @await Html.PartialAsync( "~/Views/Meditate/Started.cshtml", Model )
            // Workaround for the fact that partial's can't have sections.
            // We need to have an HTML and a JS partial views and load them both here.
            @section scripts {
                @await Html.PartialAsync( "~/Views/Meditate/StartedScripts.cshtml", Model )
            }
        }
        else if( Model.ApiState == ApiState.Stopped )
        {
            @await Html.PartialAsync( "~/Views/Meditate/Stopped.cshtml", Model )
        }
        else
        {
            <p>How did we get here? <a href="/Meditate">Go Back!</a></p>
        }
    }

</article>