@using Meditu.Gui.Controllers;
@using Meditu.Gui.Models;

@model MeditateModel

<noscript>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">X</button>
                Without JavaScript, the timer will never count up or down.
                This means that if you want the timer to count down,
                we won't be able to auto-stop the session for you.

                If you want the timer to count up, it will in the background,
                but not on this screen. 
            </div>
        </div>
    </div>
</noscript>

<div class="row" style="margin-top:2em;">
    <div class="col-md-12" style="text-align:center;">
        <span id="timerText" style="font-size:5em;">
            @Model.Session.TimeRemaining.Hours.ToString("D2"):@Model.Session.TimeRemaining.Minutes.ToString("D2"):@Model.Session.TimeRemaining.Seconds.ToString("D2")
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/Meditate/Stop" method="POST" style="text-align:center; margin:1em;">
            <input id="stopButton" class="btn btn-primary" type="submit" value="Stop Meditating!"/>
        </form>
    </div>
    <div class="col-md-6">
        <form action="/Meditate/Cancel" method="POST" style="text-align:center; margin:1em;">
            <input class="btn btn-danger" type="submit" value="Cancel Session"/>
        </form>
    </div>
</div>
