
@{
    Layout = "_Layout";
}

<!-- Top row -->

<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div>
        <span style="float:left;">
            <a href="/" class="btn btn-inverse"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        </span>
    </div>
</nav>

<!-- Main Page -->

<article id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary">Start Meditating!</button>
        </div>
    </div>
</article>