@using System.Globalization;
@using System.IO;
@using System.Linq;
@using Meditu.Api;
@using Meditu.Gui.Models;

@model LogModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;
    Log log = Model.Log;
    DateTimeSettings dateTimeSettings = Model.Api.Settings.DateTimeSettings;
}

@if( log == null )
{
    <div class="alert alert-danger">Error: No log found at this ID.</div>
    <a href="/LogBook" class="btn btn-inverse"><i class="fas fa-long-arrow-alt-left"></i> Back to LogBook</a>
}
else
{

}