@using System.Globalization;
@using System.IO;
@using System.Linq;
@using Meditu.Api;
@using Meditu.Gui.Models;

@model LogModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;
    Log log = Model.Log;
    DateTimeSettings dateTimeSettings = Model.Api.Settings.DateTimeSettings;
}

@if( string.IsNullOrEmpty( Model.InfoMessage ) == false )
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissable">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">X</button>
                @Model.InfoMessage
            </div>
        </div>
    </div>
}

@if( string.IsNullOrEmpty( Model.ErrorMessage ) == false )
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">X</button>
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}

@if( log == null )
{
    <div class="alert alert-danger">Error: No log found at this ID.</div>
    <a href="/LogBook" class="btn btn-inverse"><i class="fas fa-long-arrow-alt-left"></i> Back to LogBook</a>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Edit Log</div>
                <div class="panel-body">
                    <p>Something</p>
                </div>
                <div class="panel-footer">
                    <form action="/LogBook/EditLog/@log.Guid" method="POST">
                        <input class="btn btn-success" type="submit" value="Save Log"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Delete Log</div>
                <div class="panel-body">
                    <p>Click the button to delete this log.  This action can not be undone.</p>
                    <form action="/LogBook/DeleteLog/@log.Guid" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete Log"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
