@using System.Globalization;
@using System.IO;
@using System.Linq;
@using Meditu.Api;
@using Meditu.Gui.Models;

@model LogBookModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;
    LogBook logBook = Model.Api.LogBook;
    IReadOnlySettingsManager settings = Model.Api.Settings;
}

@await Html.PartialAsync( "~/Views/Shared/_Alert.cshtml", Model )

@if( logBook.TotalSessions == 0 )
{
    <p>No Sessions, yet.</p>
}
else
{
    @foreach( Log log in logBook )
    {
        string technique = textInfo.ToTitleCase( log.Technique );
        @if( string.IsNullOrEmpty( technique ) )
        {
            technique = "None";
        }
        <div class="row" id="log_@log.Guid">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><strong>@log.StartTime.ToSettingsString( settings.DateTimeSettings )</strong> - @technique</h3>
                    </div>
                    <div class="panel-body">
                        <p><strong>Duration: </strong>@log.Duration.ToSettingsString( settings.DateTimeSettings )</p>
                        <p><strong>Comments:</strong></p>
                        @if (string.IsNullOrEmpty(log.Comments))
                        {
                            <p>None.</p>
                        }
                        else
                        {
                            @await Html.PartialAsync( "~/Views/Shared/_Paragraph.cshtml", log.Comments );
                        }
                    </div>
                    <div class="panel-footer">
                        <a href="/LogBook/Log/@log.Guid" class="btn btn-inverse">
                            <i class="fa fa-search" aria-hidden="true"></i> View More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}